# built package
build
dist
MANIFEST

# compiled Python
*.pyc
__pycache_

# jupyter notebooks
.ipynb_checkpoints
_
# OpenFOAM
*.dep
linux64GccDPOpt
linux64GccDPInt32Opt

# tutorials
results*
*.log
log.*
.dafi_ver
.time

# documnentation
_build
